.form {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #ef6038;
    padding: 40px;
}

.form > div {
    display: none;
}

.form > div.current {
    display: flex;
    flex-direction: column;
}