@font-face {
    font-family: 'Kanit Bold';
    src: url(../assets/fonts/Kanit-Bold.ttf);
}

.preview {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.left-preview {
    flex: 1.7;
    display: flex;
    flex-direction: column;
}

.preview-section h3 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 20px;
    border-left: 5px solid #2ba8e0;
    font-family: 'Kanit Bold', 'Arial', 'sans-serif';
    margin-bottom: 30px;
}

.left-top-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    padding: 40px;
}

.contact-hobbies-preview {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
}

.left-bottom-preview {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    background-color: #2ba8e0;
    padding: 10px 40px;
}

.left-bottom-preview h3 {
    color: #fff;
    border-color: #fff;
}

.right-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: #e9ecf3;
}

.right-top-preview img {
    width: 100%;
    height: 100%;
}

.right-bottom-preview {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 40px 20px;
}

.right-bottom-preview > .preview-section {
    margin-bottom: 30px;
}