.header-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box; /* To avoid useless scroll bars */
}