@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-BlackItalic.ttf');
}

.logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fafbf9;
}

.logo-img {
    margin-right: 10px;
    width: 80px;
}

.logo-h1 {
    font-family: 'Kanit', 'Arial', 'sans-serif';
    font-size: 2.5rem;
    color: #ef6038;
}

.logo-div a {
    text-decoration: none;
}