.preview-section {
    padding: 20px;
}

.study-preview, .job-preview, .skill-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}