@font-face {
    font-family: 'Kanit Bold';
    src: url(../assets/fonts/Kanit-Bold.ttf);
}

@font-face {
    font-family: 'Kanit Regular';
    src: url(../assets/fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: 'Kanit Light';
    src: url(../assets/fonts/Kanit-Light.ttf);
}

.preview-section {
    flex: 1;
    padding: 20px;
}

.hello-container p {
    font-size: 18px;
    font-family: 'Kanit Light', 'Arial', 'sans-serif';
    line-height: 1.5;
    text-align: justify;
}

.gi-field-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c2c4;
}

.gi-label {
    font-size: 18px;
    font-family: 'Kanit Bold', 'Arial', 'sans-serif';
}

.gi-value {
    font-size: 18px;
    font-family: 'Kanit Light', 'Arial', 'sans-serif';
    margin-left: 3rem;
    text-align: right;
    line-height: 1.5rem;
}

.study-preview, .job-preview {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.dates {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: top;
    margin: 0 20px 0 0;
}

.dates p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Kanit Bold', 'Arial', 'sans-serif';
}

.dates p:first-child {
    margin-right: 10px;
}

.dates p:last-child::before {
    content: '-';
    margin-right: 10px;
}

.job-info, .study-info {
    border-left: 1px solid #8c8e90;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-bottom: 30px;
}

.job-info p, .study-info p {
    text-transform: uppercase;
    font-size: 14px;
    color: #6a6a6b;
}

.job-info p:first-child, .study-info p:first-child {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit Bold', 'Arial', 'sans-serif';
    margin-bottom: 3px;
    color: black;
}

.job-info p:first-child::before, .study-info p:first-child::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    margin-left: -25px;
}

.job-info p:last-child, .study-info p:last-child {
    text-transform: none;
    font-weight: 300;
    font-family: 'Kanit Regular', 'Arial', 'sans-serif';
    margin-top: 8px;
    color: #6a6a6b;
}

.hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 100px;
}

.skill-preview {
    display: flex;
    flex: 1 0 120px;
    flex-direction: column;
    justify-content: left;
}

.skill-preview p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Kanit Regular', 'Arial', 'sans-serif';
    margin-bottom: 5px;
    color: #fff;
}